<div class="user-details-title">
  <h1>Um pouco sobre mim...</h1>
</div>
 <div class="user-details">

  {% assign total = site.time | date: '%Y' %}
  <p>Olá! Sou <b>Willian</b>, tenho {{ total | minus: 1998 }} anos, Moro em Belo Horizonte - MG e sou desenvolvedor com foco em
    <b>Backend</b> atualmente faço parte do <a href="https://www.bernoulli.com.br/sistema-de-ensino/" class="links">Bernoulli Sistema de Ensino</a> 
    como Developer. Me tornar uma referência no que faço é o que me motiva, acredito que trabalho duro, motivação e estudo seja a fórmula perfeita para alcançar seus objetivos, tanto profissionais como pessoais.
  </p>
  <p>Caso queira pular tudo isso é só baixar meu <b>currículo</b> ;) <a href="" class="links">Click aqui</a></p>
  <p> Minha história com TI começou na minha adolescência onde aprendi dar manutenção em computadores por própria independência e curiosidade, e depois tive a oportunidade 
    de trabalhar em uma Assistencia tecnica da minha cidade chamada AlphaTech, em 2014, como técnico de manutenção de computadores foi lá que eu descobri que queria investir 
    nessa área, um tempo se passou e em 2017 quando havia concluído o meu ensino médio decidi cursar <b> Sistemas de Informação no Centro universitário Una Betim,</b> Lá conheci 
    a área de desenvolvimento de Software trabalhando principalmente com <b>Java, Python, Javascript.</b> <p> Em <b>Novembro de 2018</b> fui aprovado como <b>Estagiário de 
    Tecnologia da Informação no Terminal de Cargas de Sarzedo</b> lá eu tive contato com sistemas baseados em <b>PHP</b> com o framework <b>Laravel</b> e banco de dados <b>SQL SERVER</b>, 
    além de aplicações híbridas <b>Offline First</b> com <b>Ionic 3</b> com comunicação via RestFul e banco de dados <b>CouchDB</b>, já em Agosto de 2020 fui efetivado como <b>Assistente de Tecnologia da Informação</b>, 
    tenho muito a agradecer a toda a equipe que trabalhou comigo pois tive a chance de aprender muito com eles e ter uma visão mais ampla desde da parte da Infraestrutura de redes corporativas até projetos de sistemas de automação. <p> 
    <b>Em Setembro de 2021</b> recebi a oferta de fazer parte do <b>Bernoulli Sistema de ensino</b> como Developer em uma área que eles chamam de <a href="https://sistema.bernoulli.com.br/spotb" class="links">spotB</a> 
    que é um HUB de tecnologia educacional, acreditando ser um novo desafio para minha carreira aceitei a proposta, agora faço parte do <b>time de desenvolvimento backend</b> com Laravel e SQL SERVER em uma Plataforma de Ensino da Empresa
    que está presente em mais de <b>600 escolas</b> em todo Brasil.
  </p>

</div>
<div class="skills">
  <h1>Skills</h1>
</div>
  <div class="user">
    <div class="tech">
      <h2>Me sinto confiante:</h2>
      <i class="devicon-laravel-plain-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-jquery-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-vuejs-plain-wordmark colored"></i>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-docker-plain-wordmark colored"></i>
      
      <p>Como citei trabalhei com essas tecnologias em minhas experiencias profissionais.</p>
    </div>
    <div class="tech">
      <h2>Tenho conhecimento de:</h2>
      <i class="devicon-angularjs-plain-wordmark colored"></i>
      <i class="devicon-express-original-wordmark colored"></i>
      <i class="devicon-typescript-plain colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <p>Já fiz alguns projetos com objetivo de aprender essas tecnologias.</p>
    </div>
    <div class="tech">
      <h2>Com um pouco de ajuda posso trabalhar com:</h2>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-mongodb-plain-wordmark colored"></i>
      <p>Fiz alguns projetos simples por pura curiosidade.</p>
    </div>
    <div class="tech">
      <h2>Língua estrangeira:</h2>
      <p>🇺🇸 Inglês intermediário, me viro bem pra ler e escrever.</p>
    </div>
</div>
